<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Toasty | @ViewBag.Title</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

    <!-- Add local styles, mostly for plugins css file -->
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}

    <!-- Primary style -->
    <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" />
    @Styles.Render("~/bundles/animate/css")
    @Styles.Render("~/bundles/bootstrap/css")
    @Styles.Render("~/bundles/peicon7stroke/css")
    @Styles.Render("~/bundles/toasty/css")
    @Styles.Render("~/bundles/toastyStyle/css")
</head>
<body>

    <div class="row">
        <div class="col-sm-12">
            <div id="logo" class="light-version">
                <span>
                    <a href="@Url.Action("Index", "Home")">
                        <img src="~/Images/logo_maroon.png" />
                    </a>
                </span>
            </div>
        </div>
    </div>

    <!-- Main view  -->
    @RenderBody()

    <!-- Section for main scripts render -->
    @Scripts.Render("~/bundles/jquery/js")
    @Scripts.Render("~/bundles/bootstrap/js")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Vendor/iCheck/icheck.min.js"></script>

    <!-- Handler for local scripts -->
    @RenderSection("scripts", required: false)

    <!-- Footer -->
    <footer class="bg-transparent">
        <div class="row">
            <div class="col-md-12 text-center">
                <p>&copy; @DateTime.Now.Year - <strong>SpeakerAnalytics</strong></p>
            </div>
        </div>
    </footer>
</body>
</html>
